<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem name="Testovanie" id="testovanie_base_menu"/>
	<menuitem name="Hráči" id="sdm_player" parent="testovanie_base_menu" action="sdm_player_action" sequence="0"/>
	<menuitem name="Výsledky merania" id="sdm_testingresult" parent="testovanie_base_menu" action="sdm_testingresult_action" sequence="1"/>
	<menuitem name="Štatistiky" id="sdm_statistic" parent="testovanie_base_menu" action="sdm_statistic_action" sequence="3"/>
	<menuitem name="Nastavenia" id="sdm_configuration" parent="testovanie_base_menu" sequence="4"/>
	<menuitem name="Sezóny" id="sdm_season" parent="sdm_configuration" action="sdm_season_action"/>
	<menuitem name="Testovania" id="sdm_testing" parent="sdm_configuration" action="sdm_testing_action"/>
	<menuitem name="Discipliny" id="sdm_discipline" parent="sdm_configuration" action="sdm_discipline_action"/>
	<menuitem name="Tímy" id="sdm_team" parent="sdm_configuration" action="sdm_team_action"/>
	<menuitem name="Testy" id="sdm_test" parent="sdm_configuration" action="sdm_test_action"/>
</odoo>